<h4 class="mb-4">{{ carouselData.header }}</h4>
<div
  id="{{ _courselId }}"
  class="carousel slide border-right border-left border-secondary"
  data-interval="false"
  data-ride="carousel"
  (mouseenter)="isCarouselControl = true"
  (mouseleave)="isCarouselControl = false"
>
  <ol class="carousel-indicators">
    <li
      class="bg-dark"
      [attr.data-target]="'#' + _courselId"
      [attr.data-slide-to]="i"
      [class.active]="i === 0"
      *ngFor="let images of carouselDescription; let i = index"
    ></li>
  </ol>
  <div class="carousel-inner" [class.carouselOverflow]="isOverflow">
    <div
      class="carousel-item"
      [class.active]="i === 0"
      *ngFor="let imagesData of carouselDescription; let i = index"
    >
      <div class="row">
        <div
          class="d-flex px-0 {{ carouselClzz }}"
          *ngFor="let d of imagesData; let j = index"
        >
          <div class="card border border-secondary flex-fill rounded-0">
            <img [src]="d.imagePath" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title wrap-title">{{ d.title }}</h6>
              <h6 class="card-text"><small>&#8377;</small> {{ d.price }}.00</h6>
            </div>
            <div class="card-footer bg-white border-0 pt-0">
              <div class="row">
                <div class="col-lg-6">
                  <a class="text-primary carousel-btn" (click)="addToCard(d)">
                    Add To Card</a
                  >
                </div>
                <div class="col-lg-6">
                  <div class="btn-group" dropdown>
                    <button
                      id="carousel-animated"
                      dropdownToggle
                      type="button"
                      class="btn btn-primary btn-sm dropdown-toggle"
                      aria-controls="dropdown-animated"
                      (mouseenter)="isOverflow = true"
                    >
                      Qty {{ d.qty }}
                      <span class="caret"></span>
                    </button>
                    <ul
                      id="dropdown-animated"
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="carousel-animated"
                    >
                      <li
                        role="menuitem"
                        *ngFor="let count of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
                      >
                        <a
                          class="dropdown-item"
                          (click)="selectedQty(i, j, count)"
                          >{{ count }}</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isCarouselControl">
    <a
      class="carousel-control-prev bg-white"
      href="{{ '#' + _courselId }}"
      role="button"
      data-slide="prev"
      (mouseenter)="isOverflow = false"
    >
      <span><i-feather class="text-dark" name="chevron-left"></i-feather></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next bg-white"
      href="{{ '#' + _courselId }}"
      role="button"
      data-slide="next"
      (mouseenter)="isOverflow = false"
    >
      <span
        ><i-feather class="text-dark" name="chevron-right"></i-feather
      ></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>
</div>
