.carousel-control-next,
.carousel-control-prev {
  top: 43%;
  bottom: 43%;
  width: 5%;
}
.card-img-top {
  height: 30vh;
  width: auto;
}

.carousel-indicators {
  bottom: -24px;
}

.wrap-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu {
  min-width: 4rem;
}

.carouselOverflow.carousel-inner {
  overflow: unset !important;
}

@media only screen and (max-width: 992px) {
  .card-img-top {
    height: 15vh;
  }

  .card-title {
    font-size: small;
  }

  .carousel-btn {
    font-size: small;
  }
}
