<div class="container-fluid">
  <ng-container *ngIf="cartItems.length > 0; else EmptyCart">
    <div class="card float-md-right sticky-top card-margin mb-3">
      <div class="card-body">
        <h3 class="text-secondary">
          {{ "Subtotal (" + getSeletedItemCount() }}
          {{ getSeletedItemCount() < 2 ? "Item):" : "Items):" }}
        </h3>
        <h4><small>&#8377;</small> {{ getTotal() }}</h4>
        <button type="button" class="btn btn-success btn-sm btn-block">
          Block level button
        </button>
      </div>
    </div>
    <h5 class="card-title pb-4">Shopping Cart</h5>
    <div class="card border-0">
      <div
        class="card-body border-bottom border-secondary py-0 {{
          i === 0 ? 'border-top' : ''
        }}"
        *ngFor="let item of cartItems; let i = index"
      >
        <app-shopping-cart-item
          [cartItem]="item"
        ></app-shopping-cart-item>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #EmptyCart>
  <h3>Your Shopping Cart is empty.</h3>
  <p>
    Check your Saved for later items below or
    <a routerLink="/shop">continue shopping.</a>
  </p>
</ng-template>

