<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Shopping Cart</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shop"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/tracker">Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/contact-us">Contact Us</a>
      </li>
    </ul>
    <button
      type="button"
      class="btn btn-secondary"
      data-html="true"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Card"
      routerLink="/shop/shopping-cart"
    >
      {{ "Cart(" + noOfItems + ")" }}
    </button>
  </div>
</nav>
