<div class="container" *ngIf="electronicItems">
  <div class="mb-5" *ngFor="let d of [1, 2, 3, 4]">
    <app-carousel-image
      [carouselData]="electronicItems"
      (selectedCardItem)="cardItem($event)"
    ></app-carousel-image>
  </div>
</div>

