/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

a:hover {
    text-decoration: unset;
}

.big-icon {
    height: 50px!important;
    width: 50px!important;
}

.cursor-pointer {
    cursor: pointer;
}