<div class="row align-items-center">
  <div class="col-1 media-clzz">
    <i-feather
      class="cursor-pointer icon-clzz"
      [class.text-primary]="cartItem.isChecked"
      [name]="cartItem.isChecked ? 'check-square' : 'square'"
      (click)="selectedItem()"
    ></i-feather>
  </div>
  <div class="col-2">
    <img [src]="cartItem.imagePath" alt="" width="170px" height="170px" />
  </div>
  <div class="col-6 media-clzz">
    <h5 class="text-primary">{{ cartItem.title }}</h5>
    <div class="btn-group" dropdown>
      <button
        id="carousel-animated"
        dropdownToggle
        type="button"
        class="btn btn-primary btn-sm dropdown-toggle"
        aria-controls="dropdown-animated"
      >
        Qty {{ cartItem.qty }}
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="carousel-animated"
      >
        <li
          role="menuitem"
          *ngFor="let count of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
        >
          <a
            class="dropdown-item"
            (click)="resetCount(count)"
            >{{ count }}</a
          >
        </li>
      </ul>
    </div>
    <a class="text-primary m-2" (click)="deleteItem()">Delete</a>
  </div>
  <div class="col-3 media-clzz">
    <h4><small>&#8377;</small> {{ cartItem.price }}.00</h4>
  </div>
</div>
