@media only screen and (max-width: 1280px) {
  img {
    width: 100px;
    height: 100px;
  }

  h5 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.8rem;
  }

  .icon-clzz {
    width: 18px !important;
    height: 18px !important;
  }
}

.dropdown-menu {
  min-width: 4rem;
}

@media only screen and (max-width: 668px) {
  img {
    width: 70px;
    height: 70px;
  }

  h5 {
    font-size: 0.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.65rem;
  }

  .icon-clzz {
    width: 12px !important;
    height: 12px !important;
  }
}
